{% extends 'Professional/home.html' %}

{% block nav %}
<a href="{{url_for('professional_home',id=professional.id)}}" class="link">Home</a>
<a href="{{url_for('professional_search',id=professional.id)}}" class="link">Search</a>
<a href="{{url_for('professional_summary',id=professional.id)}}" id="current-link">Summary</a>
<a href="{{url_for('professional_profile',id=professional.id)}}" class="link">Profile</a>
<a href="{{url_for('logout')}}" class="link">Logout</a>
{% endblock %}

{% block main_content %}
            <h1>Summary</h1>
        {% endblock %}