{% extends 'Professional/home.html' %}

{% block nav %}
<a href="{{url_for('professional_home',id=professional.id)}}" class="link">Home</a>
<a href="{{url_for('professional_search',id=professional.id)}}" class="link">Search</a>
<a href="{{url_for('professional_summary',id=professional.id)}}" id="current-link">Summary</a>
<a href="{{url_for('professional_profile',id=professional.id)}}" class="link">Profile</a>
<a href="{{url_for('logout')}}" class="link">Logout</a>
{% endblock %}

{% block main_content %}

<hr><br>

<div class="row" id="information">
  <div class="col col-3">
    <div>
      <h5>Service Requests</h5>
      <hr>
      <p>Total : {{infor['Requests']['total']}} </p>
    </div>
  </div>
  <div class="col col-3">
    <div>
      <h5>Accepted Requests</h5>
      <hr>
      <p>Accepted : {{infor['Requests']['accepted']}}</p>
    </div>
  </div>
  <div class="col col-3">
    <div>
      <h5>Closed Requests</h5>
      <hr>
      <p>Closed : {{infor['Requests']['closed']}} </p>
    </div>
  </div>
  <div class="col col-3">
    <div>
      <h5>Rejected Requests</h5>
      <hr>
      <p>Rejected : {{infor['Requests']['rejected']}} </p>
    </div>
  </div>
</div>

<hr>
<br>

<div>
    <canvas id="myChart"></canvas>
</div>
<hr>

<div id="chart-data" style="display:none;">{{ infor | tojson }}</div>
{% endblock %}
{% block script %}
<script>
  const ctx = document.getElementById('myChart');

  const dataDiv = document.getElementById('chart-data');
  const data = JSON.parse(dataDiv.textContent.trim());

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Total Requests', 'Accepted', 'Closed', 'Rejected'],
      datasets: [{
        label: '#',
        data: [
          data['Requests']['total'],
          data['Requests']['accepted'],
          data['Requests']['closed'],
          data['Requests']['rejected'],
        ],
        backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(75, 192, 192)',
            'rgb(255, 205, 86)',
            'rgb(201, 203, 207)',
            ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
{% endblock %}