<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Customer Home
        {% endblock %}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/customer.css">
</head>
<body>
    <div class="container">
        <div class="row" id="nav">
            <div class="col-sm-2" id="logo">
                <img src="/static/HomeEase4.png" alt="" width="120">
            </div>
            <div class="col-sm-6" id="link">
                {% block nav %}
                <a href="{{url_for('customer_home',id=customer.id)}}" id="current-link">Home</a>
                <a href="{{url_for('customer_search',id=customer.id)}}" class="link">Search</a>
                <a href="{{url_for('customer_summary',id=customer.id)}}" class="link">Summary</a>
                <a href="{{url_for('customer',id=customer.id)}}" class="link">Profile</a>
                <a href="{{url_for('logout')}}" class="link">Logout</a>
                {% endblock %}
            </div>
            <div class="col-sm-4" id="profile">
                <div id="profile-box">
                    <div id="profile-img">
                        {% block profile_img %}
                        {% if customer.picture %}
                        <img src="data:{{ customer.mimetype }};base64,{{ customer.picture }}" alt="Profile Picture" width="50" height="50">
                        {% else %}
                        <img src="/static/user.png" alt="" width="50" height="50">
                        {% endif %}
                        {% endblock %}
                    </div>
                    <div id="profile-text">
                        {% block name_mail %}
                        <p>{{customer.fname}} {{customer.lname}}<br>{{customer.email}}</span></p>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        {% block main_content %}

        <div class="row" id="looking">
            <div class="col-12 text-center">
                <h4>Looking for?</h4>
            </div>
            <div class="col">
                <div class="card" style="width: 14rem;height: 14rem;">
                    <img src="https://images.pexels.com/photos/48889/cleaning-washing-cleanup-the-ilo-48889.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="{{url_for('customer_viewService',id=customer.id, name='Cleaning')}}" class="btn btn-primary">Cleaning</a>
                    </div>
                </div>
            </div>
            <div class="col"> 
                <div class="card" style="width: 14rem;height: 14rem;">
                    <img src="https://images.pexels.com/photos/8774645/pexels-photo-8774645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="{{url_for('customer_viewService',id=customer.id, name='Plumbing')}}" class="btn btn-primary">Plumbing</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 14rem;height: 14rem;">
                    <img src="https://images.pexels.com/photos/48889/cleaning-washing-cleanup-the-ilo-48889.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="{{url_for('customer_viewService',id=customer.id, name='Electrical')}}" class="btn btn-primary">Electrical</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 14rem;height: 14rem;">
                    <img src="https://images.pexels.com/photos/48889/cleaning-washing-cleanup-the-ilo-48889.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="{{url_for('customer_viewService',id=customer.id, name='Carpentry')}}" class="btn btn-primary">Carpentry</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 14rem;height: 14rem;">
                    <img src="https://images.pexels.com/photos/48889/cleaning-washing-cleanup-the-ilo-48889.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="{{url_for('customer_viewService',id=customer.id, name='Gardening')}}" class="btn btn-primary">Gardening</a>
                    </div>
                </div>
            </div>
        
        </div>

        <div class="row" id="s-history">
            <h1>Service History</h1>
            <table class="table" style="color: #fff;">
                <thead>
                  <tr>
                    <th>Req.ID</th>
                    <th>Service Name</th>
                    <th>Professional Name</th>
                    <th>Phone Number</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                    {% for request,service,prof,_ in requests %}
                    <tr>
                        <td>{{request.id}}</td>
                        <td>{{service.name}}</td>
                        {% if prof=='' %}
                        <td></td>
                        <td></td>
                        {% else %}
                        <td>{{prof.fname}} {{prof.lname}}</td>
                        <td>{{prof.phone_no}}</td>
                        {% endif %}
                        {% if request.service_status == 'accepted' %}
                        <td>
                            <a href="{{url_for('customer_review',id=customer.id, req_id=request.id)}}">close it?</a>
                        </td>
                        {% else %}
                        <td style="text-transform: capitalize;">{{request.service_status}}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
        
        {% endblock %}

    </div>
</body>
</html>