{% extends "/Customer/home.html" %}

{% block title %}
 Customer Summary 
{% endblock %} 

{% block nav %}
<a href="{{url_for('customer_home',id=customer.id)}}" class="link">Home</a>
<a href="{{url_for('customer_search',id=customer.id)}}" class="link">Search</a>
<a href="{{url_for('customer_summary',id=customer.id)}}" id="current-link">Summary</a>
<a href="{{url_for('customer',id=customer.id)}}" class="link">Profile</a>
<a href="{{url_for('logout')}}" class="link">Logout</a>
{% endblock %} 

{% block main_content %}

<div>
    <canvas id="myChart"></canvas>
</div>

<div id="l">
  {{[12, 19, 3, 5, 2, 3]}}
</div>

<script>
    const ctx = document.getElementById('myChart');
    const dataDiv = document.getElementById('l');
    const rawData = dataDiv.textContent.trim();
    const dataArray = JSON.parse(rawData);
  
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
          label: '# of Votes',
          data: dataArray,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>

{% endblock %}