{% extends "/Customer/home.html" %}

{% block title %}
 Service Detail
{% endblock %} 

{% block nav %}
<a href="{{url_for('customer_home',id=customer.id)}}" id="current-link">Home</a>
<a href="{{url_for('customer_search',id=customer.id)}}" class="current-link">Search</a>
<a href="{{url_for('customer_summary',id=customer.id)}}" class="link">Summary</a>
<a href="{{url_for('customer',id=customer.id)}}" class="link">Profile</a>
<a href="{{url_for('logout')}}" class="link">Logout</a>
{% endblock %} 

{% block main_content %}

<div class="row" id="pakage">
  <div class="col-12" style="margin-bottom: 20px;background: none;">
    <h2>Best {{name}} Pakages</h2>
  </div>
  {% if services == [] %}
  <div class="col-12"><h3>no pack</h3></div>
  {% else %}
  {% for service in services %}
  <div class="col-12">
    <div>
      <{{loop.index}}>  |
      <p>{{service.description}} | only at {{service.price}}</p>
      <a href="{{url_for('customer_serviceRequest',id=customer.id,name=name, srvs_id=service.id)}}">Book</a>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>


<div class="row" id="s-history">
  <h1>Service History</h1>
  <table class="table" style="color: #fff;">
      <thead>
        <tr>
          <th>Req.ID</th>
          <th>Service Name</th>
          <th>Professional Name</th>
          <th>Phone Number</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
          {% for request,service,prof,_ in requests %}
          <tr>
              <td>{{request.id}}</td>
              <td>{{service.name}}</td>
              {% if prof=='' %}
              <td></td>
              <td></td>
              {% else %}
              <td>{{prof.fname}} {{prof.lname}}</td>
              <td>{{prof.phone_no}}</td>
              {% endif %}
              <td>{{request.service_status}}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}