{% extends "/Customer/home.html" %}

{% block title %}
 Service Detail
{% endblock %} 

{% block nav %}
<a href="{{url_for('customer_home',id=customer.id)}}" id="current-link">Home</a>
<a href="{{url_for('customer_search',id=customer.id)}}" class="current-link">Search</a>
<a href="{{url_for('customer_summary',id=customer.id)}}" class="link">Summary</a>
<a href="{{url_for('customer',id=customer.id)}}" class="link">Profile</a>
<a href="{{url_for('logout')}}" class="link">Logout</a>
{% endblock %} 

{% block main_content %}

<div class="row" id="pakage">
  <div class="col-12" style="margin-bottom: 20px;background: none;">
    <h2>Best {{name}} Pakages</h2>
  </div>
  {% if services == [] %}
  <div class="col-12"><h4>No Pack Available for {{name}}.</h4></div>
  {% else %}
  {% for service in services %}
  <div class="col-12">
    <div>
      <{{loop.index}}>  |
      <p>{{service.name}} | {{service.description}} | only at {{service.price}} | 
        {% if service.rating == 0 %}
        No Rating Yet.
        {% else %}
        {{service.rating}} Rating
        {% endif %}
      </p>
      <a href="{{url_for('customer_serviceRequest',id=customer.id,name=name, srvs_id=service.id)}}">Book</a>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>

<hr>
<div class="row" id="s-history">
  <h2>Service History</h2>
  {% if requests==[] %}
  <h5 style="color: #15628f;">No Past Service.</h5>
  {% else %}
  <table class="table" style="color: #fff;">
      <thead>
        <tr>
          <th>Req.ID</th>
          <th>Service Name</th>
          <th>Professional Name</th>
          <th>Phone Number</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
          {% for request,service,prof,_,reviewed in requests %}
          <tr>
              <td>{{request.id}}</td>
              <td>{{service.name}}</td>
              {% if prof=='' %}
              <td></td>
              <td></td>
              {% else %}
              <td>{{prof.fname}} {{prof.lname}}</td>
              <td>{{prof.phone_no}}</td>
              {% endif %}
              
              <td style="text-transform: capitalize;">{{request.service_status}}</td>
              <td>
                  {% if request.service_status == 'accepted' %}
                  <a href="{{url_for('customer_review',id=customer.id, req_id=request.id)}}" style="color: #041E42;" >Review & Close it?</a>
                  {% elif request.service_status == 'closed' %}
                  <a href="" style="cursor: not-allowed;background-color: rgb(40, 102, 40);color: #41856b;">closed</a>
                      {% if reviewed %}
                       & <a href="" style="cursor: not-allowed;background-color: rgb(40, 102, 40);color: #41856b;">Reviewed</a>
                      {% else %}
                      <a href="{{url_for('customer_review',id=customer.id, req_id=request.id)}}" style="background-color: #1da1f2;color: #041E42;">Review</a>
                      {% endif %}
                  {% else %}
                  <a href="" style="cursor: not-allowed;background-color: rgb(40, 102, 40);color: #41856b;">Review & Close it?</a>
                  {% endif %}

              </td>  
          </tr>
          {% endfor %}
      </tbody>
    </table>
    {% endif %}
</div>

{% endblock %}