{% extends '/base.html' %}

{% block title %}
Admin Profile
{% endblock %}

{% block nav %}
<a href="{{url_for('admin_home',id=admin.admin.id)}}" class="link">Home</a>
<a href="{{url_for('admin_search',id=admin.admin.id)}}" class="link">Search</a>
<a href="{{url_for('services',id=admin.admin.id)}}" class="link">Services</a>
<a href="{{url_for('manage_users',id=admin.admin.id)}}" class="link">Users</a>
<a href="{{url_for('admin_profile',id=admin.admin.id)}}" id="current-link">Profile</a>
<a href="{{url_for('logout')}}" class="link">Logout</a>
{% endblock %}

{% block profile_img %}
{% if admin.picture %}
        <img src="data:{{ admin.mimetype }};base64,{{ admin.picture }}" alt="Profile Picture" width="50" height="50">
    {% else %}
        <img src="/static/user.png" alt="" width="50" height="50">
    {% endif %}
{% endblock %}

{% block name_mail %}
<p>{{admin.adminDetail.fname}} {{admin.adminDetail.lname}}<br>{{admin.admin.email}}</span></p>
{% endblock %}

{% block image %}
    {% if admin.picture %}
        <img src="data:{{ admin.mimetype }};base64,{{ admin.picture }}" alt="Profile Picture" width="180" height="180">
    {% else %}
        <img src="/static/user.png" alt="" width="150" height="150">
    {% endif %}
{% endblock %}

{% block add_image %}
<form action="{{url_for('admin_change_profile',id=admin.admin.id)}}" method="post" enctype="multipart/form-data">
    <h6>Change Your Profile Picture</h6>
    <div><input type="file" name="photo" accept="image/png" required style="width: 210px;"></div>
    <div><input type="submit" value="Update Picture"></div>
</form>
{% endblock %}

{% block change_password %}
<form action="{{url_for('admin_change_password',id=admin.admin.id)}}" method="post">
    <h6>Change Your Password</h6>
    <div class="flash-box">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <h6 class="{{ category }}">{{ message }}</h6>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <input type="password" placeholder="Old Password (4-8)" name="old_password" maxlength="8" minlength="4" required>
    <input type="password" placeholder="New Password (4-8)" name="new_password" maxlength="8" minlength="4" required>
    <div> <input type="submit" value="change"></div>
</form>
{% endblock %}

{% block name_prof %}
<h1>{{admin.adminDetail.fname}} {{admin.adminDetail.lname}}</h1>
<h4>I'm Super-user 'Admin'</h4>
{% endblock %}

{% block rating %}
{% endblock %}

{% block phone %}
{% endblock %}

{% block address %}
{% endblock %}

{% block mail %}
<div class="col-3" class="title" style="color: #2774AE;">Email</div>
<div class="col-9" style="color: #1da1f2;">{{admin.admin.email}}</div>
{% endblock %}

{% block join_date %}
<div class="col-3" class="title" style="color: #2774AE;">Created on</div>
<div class="col-9" style="color: #1da1f2;">{{admin.admin.created_at.strftime("%d/%m/%y")}} at 
    {{admin.admin.created_at.strftime("%H-%M")}}
</div>
{% endblock %}

{% block experience %}

{% endblock %}

{% block update_information %}
<form action="{{url_for('admin_update_information',id=admin.admin.id)}}" method="post">
    <h2>Update Information</h2>
    <div class="flash-box">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <h6 class="{{ category }}">{{ message }}</h6>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="group">
        <div class="subgroup">
            <label for="">First Name</label>
            <input type="text" name="fname" value="{{admin.adminDetail.fname}}">
        </div>
        <div class="subgroup">
            <label for="">Last Name</label>
            <input type="text" name="lname" value="{{admin.adminDetail.lname}}">
        </div>
    </div>
    <hr>
    <input type="submit" value="Update">
</form>
{% endblock %}