{% extends "/Admin/home.html" %}

{% block title %}
Admin Services
{% endblock %}

{% block nav %}
<a href="{{url_for('admin_home',id=admin.admin.id)}}" class="link">Home</a>
<a href="{{url_for('services',id=admin.admin.id)}}" id="current-link">Services</a>
<a href="{{url_for('manage_users',id=admin.admin.id)}}" class="link">Users</a>
<a href="{{url_for('admin_profile',id=admin.admin.id)}}" class="link">Profile</a>
<a href="{{url_for('logout')}}" class="link">Logout</a>
{% endblock %}

{% block main_content %}

<div class="row" id="services">
<div class="header">
    <h1>Services</h1>
    <div id="flash" class="flash-box">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <h5 class="{{ category }}" style="text-align: center;">{{message}}</h5>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <a href="{{url_for('create_service',id=admin.admin.id)}}">+ New Service</a>
</div>
{% if services == [] %}
<h4 style="color: #15628f;">No Service Available</h4>
{% else %}
<div>
    <table class="table" style="color: #fff;">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for service in services %}
          <tr>
            <td><a style="background-color: #034870;" href="">{{service.id}}</a></td>
            <td>{{service.name}}</td>
            <td>Rs. {{service.price}}</td>
            <td>{{service.category}}</td>
            <td>
              <a style="background-color: rgb(14, 162, 231);" href="{{url_for('edit_service',id=admin.admin.id, srvs_id=service.id)}}">Edit</a>
              <a style="background-color: red;" href="{{url_for('delete_service',id=admin.admin.id, srvs_id=service.id)}}">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endif %}
</div>
<hr>
<div class="row" id="service-request">
<h1>Service Request</h1>
{% if requests == [] %}
<h4 style="color: #15628f;">No Requests</h4>
{% else %}
<table class="table" style="color: #fff;">
  <thead>
    <tr>
      <th>Req.ID</th>
      <th>Service Name</th>
      <th>Professional Name</th>
      <th>Phone Number</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
      {% for request,service,prof,cust in requests %}
      <tr>
          <td>{{request.id}}</td>
          <td>{{service.name}}</td>
          {% if prof=='' %}
          <td></td>
          <td></td>
          {% else %}
          <td>{{prof.fname}} {{prof.lname}}</td>
          <td>{{prof.phone_no}}</td>
          {% endif %}
          <td>{{request.service_status}}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endif %}
</div>

{% endblock %}