body{
    background-color: #041E42;
    color: #FFF;
    font-family: suse;
}
.container{
    margin-top: 10px;
}
#logo{
    display: flex;
    align-items: center;
}
#link{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;

    & a{
        text-decoration: none;
        letter-spacing: 1px;
        position: relative;
        color: #FFF;
        font-size: 19px;
        font-weight: 400;
        padding: 6px;
    }

    & .link{
        &::after{
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            left: 0;
            bottom:6px;
            background-color: #f20078;
            transition: all 0.4s ease;
        }
    
        &:hover::after{
            width: 100%;
        }
    }

    #current-link{
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            bottom:6px;
            background-color: #f20078;
        }
    }
}
#profile{
    display: flex;
    justify-content: center;
    align-items: center;
    & #profile-box{
        display: flex;
        flex-direction: row;
        align-items: center;

        & #profile-img{
            border-radius: 50%;
            & img{
                border-radius: 50%;
            }
        }

        & #profile-text{
            margin-left: 10px;
            height: 50px;
        }
    }
}

#looking{
    margin-top: 50px;
    & .col{
        display: flex;
        justify-content: center;
        width: 20%;
        padding: 20px 0;
        & .card{
            box-shadow: 0px 3px 15px rgba(0, 0, 0,0.3);
            background-color: #1c3b7c;
        }
    }
}
table{
    padding: 10px;

    & thead{
        letter-spacing: 1px;
        color: 	#6082B6;
        font-size: 20px}

    & tbody{
        & tr:nth-child(even){
            color: 	#A7C7E7;
        }
        & a{
            background-color: green;
            padding: 3px 15px;
            text-decoration: none;
            border-radius: 3px;
            color: #041E42;
        }

        & tr:nth-child(odd){
            background-color: #082b5c;
            color: 	#4682B4;
            font-weight: 500;
            letter-spacing: 1px;
        }
    }
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid rgb(40, 59, 164);
}
#pakage{
    border-radius: 20px;
    background-color: #4682B4;
    padding: 20px 30px;
    margin-top: 50px;
    & .col-12{
        background-color: #296697;
        display: flex;
        justify-content: center;
        border-radius: 3px;
        margin-bottom: 5px;
        padding-bottom: 5px;
        padding-top: 5px;

        & p{
            display: inline;
        }
        & a{
            margin-left: 5px;
            padding: 2px 25px;
            border-radius: 3px;
            background-color: rgb(30, 211, 243);
            text-decoration: none;
            color: #082b5c;
        }
    }
}